body {
    background-color: #eee;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #575757;
  text-align: center;
}

a {
  color: #00B7FF;
}

/*
$light-blue: #5E9DE6;
$blue: #006AE3;
$blue2: #005EFF;

$red-color: #D93636;
orange: #FF7300;
green #1FBF37

*/

.form-box {
    background-color: white;
    display: inline-block;
    padding: 30px;
    border-radius: 3px;
}
.form-box header h4 {
    font-size: 20px;
    text-align: center;
}
.form-box .input-row {
    margin: 10px 0;
    position: relative;
}
.form-box .input-row input {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.form-box .input-row input:hover {
    border-color: #B3DCFF;
    box-shadow: 0 0 5px -1px #B3DCFF;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.form-box .input-row input:focus {
    border-color: #4DAFFF;
    box-shadow: 0 0 5px -1px #4DAFFF;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.form-box .input-row .strength-indicator {
    position: absolute;
    margin-left: 3px;
    left: 100%;
    top: 0;
    height: 100%;
    text-align: left;
    display: block;
}
.form-box .input-row .strength-indicator .arrow-box {
    margin-left: 5px;
    margin-right: -4px;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.form-box .input-row .strength-indicator .arrow-box .arrow.left {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.form-box .input-row .strength-indicator.hidden {
    min-width: 0;
    opacity: 0;
    transition: opacity 0.2s linear, min-width 0.2s linear 0.13s;
    -webkit-transition: opacity 0.2s linear, min-width 0.2s linear 0.13s;
}
.form-box .input-row .strength-indicator.visible {
    min-width: 120px;
    opacity: 1;
    transition: opacity 0.2s linear 0.15s, min-width 0.2s linear;
    -webkit-transition: opacity 0.2s linear 0.15s, min-width 0.2s linear;
}
.form-box .input-row .strength-indicator .text-box {
    border: 1px solid #ddd;
    height: 90%;
    padding: 0 10px 0 6px;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;

}
.form-box .input-row .strength-indicator .text-box .text{
    display: inline-block;
    vertical-align: middle;
}
.form-box .input-row .strength-indicator .text-box .text .bubble {
    display: inline-block;
    margin: 0 4px;
    padding: 5px;
    border-radius: 100%;
}
.form-box .input-row .strength-indicator .text-box .text .bubble.gray {
    background-color: #ccc;
    transition: all 0.2s linear;
}
.form-box .input-row .strength-indicator .text-box .text .bubble.green {
    background-color: #1FBF37;
    transition: all 0.2s linear;
}
.form-box .input-row .strength-indicator .text-box .text .bubble.orange {
    background-color: #FFA600;
    transition: all 0.2s linear;
}
.form-box .input-row .strength-indicator .text-box .text .bubble.red {
    background-color: brown;
    transition: all 0.2s linear;
}
.form-box .input-row .strength-indicator .text-box .text label {
    display: inline-block;
    margin: 0 2px;
    color: #aaa;
}
.vertical-mid-hack {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

